/* PayCrypto.Me Order Details Section */
.paycrypto-me-order-details {
    margin-bottom: 15px
}

.paycrypto-me-order-details h3 {
    margin: 0 0 10px 0;
}

.paycrypto-me-order-details__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paycrypto-me-order-details__wrapper {
    display: flex;
    justify-content: space-between;
}

/** */

.paycrypto-me-network-switch {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.paycrypto-me-network-switch input[type="radio"] {
    display: none;
}

.paycrypto-me-network-switch label {
    margin: 0;
    color: #262626;
    font-weight: 700;
    cursor: default;
    padding: 4px 8px;
    font-size: .75rem;
    user-select: none;
    pointer-events: none;
    background: #e1e1e1;
    border-radius: 1.5rem;
    letter-spacing: 0.02em;
    font-family: sans-serif;
}

.paycrypto-me-order-details__qr-code-image {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.paycrypto-me-order-details__wrapper--address {
    box-sizing: border-box;
}

.paycrypto-me-order-details__address {
    width: 100%;
    cursor: default;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    flex-direction: column;
    border: 1px dashed #d6d6d6;
    letter-spacing: 0.035em;
    box-sizing: border-box;
    text-align: center;
    user-select: all;
    color: #242424;
    max-width: 340px;
    font-weight: 300;
    padding: 14px 8px;
    font-size: 1rem;
    margin: 0 auto;
}

.paycrypto-me-order-details__button {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    min-height: 50px;
    cursor: pointer;
    border: none;
}