/* PayCrypto.Me Order Details Section */
.paycrypto-me-order-details {
    margin-bottom: 15px
}

.paycrypto-me-order-details h3 {
    margin: 0 0 10px 0;
}

.paycrypto-me-order-details__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paycrypto-me-order-details__wrapper {
    display: flex;
    justify-content: space-between;
}

/** */

.paycrypto-me-network-switch {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.paycrypto-me-network-switch input[type="radio"] {
    display: none;
}

.paycrypto-me-network-switch label {
    margin: 0;
    color: #262626;
    font-weight: 700;
    cursor: default;
    padding: 6px 8px;
    font-size: .7rem;
    user-select: none;
    pointer-events: none;
    background: #e1e1e1;
    border-radius: 1.5rem;
    letter-spacing: 0.02em;
    font-family: sans-serif;
    line-height: 1;
}

.paycrypto-me-order-details__qr-code-image {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.paycrypto-me-order-details__wrapper--address {
    box-sizing: border-box;
    position: relative;
    max-width: 340px;
    margin: 0 auto;
}

.paycrypto-me-order-details__address {
    width: 100%;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    flex-direction: column;
    border: 1px dashed #d6d6d6;
    letter-spacing: 0.035em;
    /* border-radius: .2rem; */
    box-sizing: border-box;
    text-align: center;
    user-select: all;
    color: #242424;
    font-weight: 300;
    padding: 14px 8px;
    padding-left: 1rem;
    padding-right: 2.5rem;
    font-size: 1.2em;
    margin: 0 auto;
}

.paycrypto-me-order-details__button {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    box-sizing: border-box;
    font-size: 0.925rem;
    font-weight: 600;
    text-decoration: none;
    min-height: 50px;
    cursor: pointer;
    border: none !important;
    outline: none !important;
}

.paycrypto-me-order-details__copy-address-button {
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none !important;
    border: none !important;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 0;
    cursor: pointer;
    color: oklch(54.6% 0.245 262.881) !important;
}

.paycrypto-me-order-details__button.paycrypto-me-order-details__open-wallet-button {
    width: auto;
    max-width: none;
    border: 2px solid #2b7fff;
    background-color: #ffffff;
    text-decoration: none !important;
    color: oklch(54.6% 0.245 262.881);
}